*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.html{
    background-color: #d3d3d3;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header styling */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    height: 100%;
    margin: 0 auto;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1em;
}

.search {
    margin: auto 0;
    float: right;
}

#searchbar {
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    background-color: #3a3a3a;
    color: white;
}



/* titleslist.html styling */
.consoles {
    padding-top: 25px;
    text-align: center;
}

.consoles li {
    display: inline-block;
    padding-right: 35px;
    
}

#xbox {
    background-color: #0e7a0d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#playstation {
    background-color: #006FCD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#switch {
    background-color: #e4000f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#pc {
    background-color: #2a475e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#all {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

.letter {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.letter li{
    display: inline-block;
    padding-right: 15px;
    font-size: 1.75em;
}

.games_list {
    padding-top: 30px;
    text-align: center;
    display: flex;
    border-top: 2px solid black;
}

.games_list li {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid gray;
}

.column1 {
    width: 25%;
    float: left;
}

.column2 {
    width: 25%;
    margin: 0 auto;
}

.column3 {
    width: 25%;
    float: 0 auto;
}

.column4 {
    width: 25%;
    float: right;
}